// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Reviews styles */
@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}


.reviews {

	@include background-tile;
	margin: 0 15px 20px;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 2em;
	}

	.review {
		border-bottom: 1px solid gainsboro;
		margin-bottom: 15px;
    padding-bottom: 10px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;

		.review-comment {
			font-size: 1.05em;
		
		}

	}

	.new-review {
		padding-top: 8px;
	}

}